.card {
  cursor: pointer;
  margin-bottom: 2rem !important;
  min-width: 200px;
  max-width: 340px;
  height: 87%;
}

// /* highlight the Biography section */
// .Biography {
//   background-color: Blue !important;
// }

/* // Small devices (landscape phones, 250px and up) */
@media (min-width: 250px) {
  .sub-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
    min-width: 96%;
  }

  .flex-wrap > div {
    width: 100%;
  }
}
