body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body-container {
  padding: 8rem 1rem 1rem;
}

.counter-area {
  visibility: hidden;
  text-align: center;
}

.main-counter {
  text-align: center;
}

.main-counter .btn {
  font-size: 2rem;
  touch-action: manipulation;
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.counter-line {
  visibility: hidden;
}

/* bootstrap override */
.btn:focus,
.btn:active,
.input-group > .form-control:focus {
  outline: none !important;
  box-shadow: none;
}
